@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}

:root{
    --bgColor:rgba(248, 250, 252, 1);
     --dark-purple: linear-gradient(180deg, #625BF7 0%, #463EEA 100%);
     --purple:rgba(98, 91, 247, 1);
     --form-bgColor:rgba(255, 255, 255, 1);
     --input-border-color:rgba(222, 222, 222, 1);
     --black:rgba(51, 51, 51, 1);
     --light-black:rgba(117, 117, 117, 1);
     --light-aqua:rgba(91, 247, 219, 1);
     
}

#root{
    min-height:100vh;
    display: flex;
    background-color:var(--bgColor);
    flex-direction: column;
}

.login-container{
    width: 60%;
    margin: auto;
    padding: 1rem;
    /* text-align: center; */
    position: relative;
/* top: 15vh; */
position: relative;
z-index: 100;
  }
.form-container{
    /* box-shadow: 2px 2px 10px 3px #d92222; */
    border: 1px solid black;
    padding:1rem;
    margin:1rem 0;
    background-color:var(--form-bgColor);


}
.message{
    text-align: center;
}
.forgotPassword{
    text-align: center;
    margin:10px 0;
    color:var(--purple);
    cursor: pointer;
}
form{
    display: flex;
flex-direction: column;
}

form section{
    margin:12px 0;
}
form input{
    width: 100%;
    line-height: 2.5;
    padding-inline: 5px;
    margin:5px 0;
    border:1px solid var(--input-border-color);
    font-size:1rem;
}
form input:focus{
    outline: none;
}
#login-btn{
    line-height:3;
border-radius: 5px;
border: none;
cursor: pointer;
background-image:var(--dark-purple);
color:white;
}
.signup-redirection{
    color:var(--purple);
    cursor: pointer;
}

.profile-container {
    width: 80%;
    /* border: 1px solid red; */
    margin: auto;
    z-index: 110;
    min-height: 56vh;
    box-shadow: 2px 2px 10px 2px gray;
    background-color:var(--form-bgColor);
    padding-bottom:1rem;
  }
.profile-container h1{
        text-align: center;
        height:7vh;
        background-image:var(--dark-purple);
        color:white;
}
.profile-info {
    height: 45vh;
    padding: 1rem;
    display: flex;
  }
.profile{
    width: 70%;
    display: flex;
flex-direction: column;
}
.profile >div{
    margin-bottom:1rem;
    width:100%;
}
.profile span{
    font-weight:700;
    margin-right:1rem;
    font-size:20px;
    
}
.gender-age{
    display:flex;
    flex-wrap: wrap;
}
.gender ,.age{
    min-width:50%;
}
.pic-container{
    width: 30%;
}
.profile-pic{
 width:100%;
 height:100%;
}
.profile-pic img{
    width:100%;
    height:100%;
}
.logout-btn-section{
height:5vh;
text-align: center;
}
.logout-btn-section button{
   width: 150px;
line-height: 2.5;
cursor: pointer;
background-color:var(--purple);
font-size:16px;
border:none;
}
.logout-btn-section button:active{
    background-color:var(--light-aqua);
}

.designing{
    height: 60vh;
position: absolute;
/* border: 1px solid red; */
width: 100%;
bottom: 0;
overflow: hidden;
}
.rect1{
    width: 100%;
    height: 100%;
    padding: 0 5%;
    position: absolute;
    z-index: 10;
    top: -43px;
}
.rect1 img{
    width:100%;
    height:100%;
}
.rect2 {
    position: absolute;
    z-index: 11;
  }
.rect3{
    position: absolute;
z-index: 15;
/* border: 1px solid; */
left: 14%;
top: 6%;
}


@media screen and (max-width:600px){
.profile-pic{
    height:60%;
}
.profile > div {
    margin-bottom:0.5rem;
}
.login-container{
    width:80%;
}
}